.information-container{
    display: flex;
    border: 15px  ;
    box-shadow: 20px 20px 50px rgb(194, 190, 190);
    margin-left: auto;
    margin-right: auto;
    /* width: 60em; */
    margin-top: 40px;
    width: 60%;
    height:46em;
  
}

.information-inner-left-container{
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.phone_wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 20px ;
    margin-top: 20px;
}


.phone_img{
    margin-top: 5px;
}


.location_wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 20px ;
    margin-top: 20px;
}

.location_img{
    margin-top: 5px;
}


.email_wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 20px ;
    margin-top: 20px;
}


.email_img{
    margin-top: 5px;
}


.wechat_wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 20px ;
    margin-top: 20px;
}


.wechat_img{
    margin-bottom: 15px;
}


.information-inner-right-container{
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
  
}


.inner_wrapper{
    display: inline-block;

}


.monday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tuesday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.wednesday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}


.thursday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}


.friday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}


.saturday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}


.sunday_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}




.hours_wrapper{
    display: flex;
    gap: 10px;
    margin-top: 19px;;
}






@media (max-width: 765px) { 

    .information-container{
        display: flex;
        border: 15px ;
        box-shadow: 20px 20px 50px rgb(194, 190, 190);
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: column;
        width: 100%;
        height:70em;
      
    }

  .information-inner-left-container{
        margin-top: 20px;

    }



    .inner_wrapper{
        all: unset
    }

}

/* 1024px
1224px */
@media (min-width: 766px) and (max-width: 1024px) { 

    .information-container{
        display: flex;
        border: 15px ;
        box-shadow: 20px 20px 50px rgb(194, 190, 190);
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        height:46em;
      
    }
    


}


